# Server
PORT=3000
FRONTEND_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb://localhost:27017/video-learning-db

# Security
JWT_SECRET=your_super_secure_enterprise_key_here
JWT_EXPIRATION=1d


API_URL=http://localhost:3000